.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none; /* Remove capitalisation */
}

.dim,
h1.dim {
    color: #555;
}

.reveal section .tiny {
    font-size: 20px;
}

/* Charts */
.axis path,
.axis line {
  fill: none;
  stroke: #555;
  shape-rendering: crispEdges;
}

.x.axis path {
/*  display: none; */
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.axis text {
    font: 23px sans-serif;
    fill: #555;
}


/* Neural Nets */

.curve,
.node {
  stroke: #fff;
  stroke-width: 1.5px;
  fill: none;
}

#arrowhead,
.link {
  stroke: #999;
  stroke-opacity: .6;
  fill: #999;
}

.nn-label {
    font: 23px sans-serif;
    fill: #999;
}


/****** IMAGES ********/

.reveal section img {
    border: none;
}